@model IEnumerable<LICTProject.Models.ProjectMember>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Personnel.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.Project_Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Personnel.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Project_Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectMembersID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectMembersID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectMembersID })
        </td>
    </tr>
}

</table>
